body {
    background-image: url(https://kartinki.pics/uploads/posts/2022-12/thumbs/1669935685_4-kartinkin-net-p-fon-dlya-saita-svetlii-vkontakte-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

.div1{
    background-color: #007bff;
    text-align:right;
}

.span1{
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px 5px;
}

.a1{
    padding-right: 20px;
    padding: 2px 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.a1:hover{
    color: black;
}

.p2 {
    font-size: 50px;
    padding: 30px 150px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 68, 156);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.div2{
    background-color: rgba(255, 234, 0, 0.949);
}

header{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

ul{
    display: flex;
    margin-top: auto;
}

.li1{
    list-style: none;
    font-size: 24px;
    color: black;

}

.a1a1{
    text-decoration: none;
    color: rgb(77, 77, 77);
    display: block;
    padding: 10px 25px;
}

.a1a1:hover{
    color: black;
    background-color: rgb(221, 221, 221);
}

.div-block{
    display: flex;
}

.div-animation{
    background-color: white;
    border: 1px solid black;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.p3{
    text-align: center;
    font-size: 20px;
}

.marquee-language{
    background-color: blue;
    font-size: 24px;
    padding: 5px 5px;
}

.animation-language{
    background: linear-gradient(to top, #007bff, #39f800, #f7ff00, #c60404);
    height: 50px;
    font-size: 20px;
}

.div-animation-marquee {
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
    overflow: hidden; /* Додав overflow для скриття тексту, що виходить за межі */
    background-color: yellow;
}

.p5 {
    animation: div-animation-marquee 5s linear infinite;
    font-size: 30px;
    white-space: nowrap;
}

@keyframes div-animation-marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}


.marquee-down{
    background-color: yellow;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 20px;
}

.p4{
    background-color: red;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
}

.div-animation-metod{
    position: relative;
    animation-name: example11;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 200px;
    height: 200px;
    margin: 20px;
}
@keyframes example11{
    0%{background-color: red; left: 0px; top: 300px}
    20%{background-color: yellow; left: 200px; top: 0px}
    40%{background-color: green; left: 200px; top: 300px}
    60%{background-color: blue; left: 200px; top: 0px}
    80%{background-color: violet; left: 0px; top: 0px}
    100%{background-color: black; left: 0px; top: 300px}
}

